params {
    gpu_forks = 1

    container = "esteinig/pathogen:latest"  // specified at runtime
    medaka_container = "esteinig/medaka:latest"  // special medaka container
    raven_threads = 4
    raven_memory = "8G"
    kraken_threads = 4
    kraken_memory = "8G"  // kraken resource config at runtime
}

process {

    scratch = false
    errorStrategy = "ignore"

    withLabel: ont {
        cpus = 4
        memory = "8G"
        time = "24h"
    }
    withLabel: flye {
        cpus = 4
        memory = "16G"
        time = "24h"
    }
    withLabel: shovill {
        cpus = 4
        memory = "16G"
        time = "24h"
    }
    withLabel: medaka {
        maxForks = params.gpu_forks
        cpus = 4
        container = params.medaka_container
        memory = "16G"
        time = "24h"
    }
    withLabel: racon {
        cpus = 4
        memory = "16G"
        time = "24h"
    }
    withLabel: coverm {
        cpus = 2
        memory = "8G"
        time = "24h"
    }
    withLabel: fastp {
        cpus = 4
        memory = "16G"
        time = "24h"
    }
    withLabel: pilon {
        cpus = 4
        memory = "16G"
        time = "24h"
    }
    withLabel: genotype {
        cpus = 4
        memory = "16G"
        time = "24h"
    }
    withLabel: megalodon {
        maxForks = params.gpu_forks
        cpus = 8
        memory = "16G"
        time = "24h"
    }
    withLabel: nanoq {
        cpus = 1
        memory = "2G"
        time = "24h"
    }
    withLabel: kraken2 {
        cpus = params.kraken_threads
        memory = params.kraken_memory
        time = "24h"
    }
    withLabel: raven {
        cpus = params.raven_threads
        memory = params.raven_memory
        time = "24h"
    }

}

profiles {
    local {
        docker.enabled = true
        singularity.enabled = false
        singularity.autoMounts = true
        process.executor = "local"
        process.container = params.container
    }
    gpu {
        docker.enabled = true
        docker.runOptions = "--gpus all"
        singularity.runOptions = "--nv"
        singularity.enabled = false
        singularity.autoMounts = true
        process.executor = "local"
        process.container = params.container
    }
    jcu {
        singularity.enabled = true
        singularity.autoMounts = true
        process.executor = "pbspro"
        process.container = params.container
    }
    
}
